
html {
    scroll-behavior: smooth;
}

.bg-blue {
    background-color: #03a9f5;
}
.hero-bg {
    background-image: url(../img/hero-bg..png);
    background-size: cover;
    background-position: bottom center;
}

    .container {
        display: inline-block;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc( (100% - 600px) / 2 );
        text-align: center;
    
    }
        .hero-row >.logo {
            display: inline-block;
            height: 60px;
            width: 100%;
            margin-bottom: 30px;
            object-fit: contain;
            object-position: center;

        }
        .title {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 10px;

        }
        .subtitle {
            display: inline-block;
            width: 100%;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 60px;

        }
        .clock {
            margin-bottom: 60px;
        }

        .hero-row > .form {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }
        .hero-row > .form > input {
            background-color: transparent;
            color: #fff;
        }
        .hero-row > .form > input::placeholder {
            color: #fff;
        }

        .row {
            display: inline-block;
            width: 1000px;
            margin-left: calc((100% - 1000px) / 2);
            margin-right: calc((100% - 1000px) / 2);

        }
            .left-column {
                display: inline-block;
                width: 50%;
                float: left;
                

            }
            .right-column {
                display: inline-block;
                width: 40%;
                float: right;
            
            }
            .right-column > .btn {
                float: right;
            }

            
            .column-title {
                display: inline-block;
                width: 100%;
                margin-bottom: 15px;
            }
            .column-p {
                display: inline-block;
                width: 100%;
                font-size: 18px;
                margin-bottom: 15px;
            }
            
            .footer.container {
                padding-top: 0;
            }
                footer>.row {
                    text-align: center;
                    position: relative;
                }
            
            .socials {
                display: inline-block;
                width: 100%;
                float: left;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 30px;
                border-bottom: 1px solid #fff;
                text-align: center;
            }
            .socials > a {
                padding: 10px;
                text-decoration: none;
                color: #fff;
                line-height: 20px;
                width: 40px;
                margin: 10px;
            }
                /* elemento atrodymas po uzejimo su pelyte */
                .socials > a:hover {
                    background-color: #fff;
                    color: #03A9F5;
                    border-radius: 50%;
                }
            .footer-texts {
                display: inline-block;
                width: 600px;
                text-align: center;
                margin-left: calc((100% - 600px) / 2);
                margin-right: calc((100% - 600px) / 2);
                color: #fff8;
            }
          
            .footer-texts > .logo {
                display: inline-block;
                width: 100%;
                height: 40px;
                object-fit: contain;
                object-position: center;
                margin-bottom: 30px;
            }
            .copyright {
                display: inline-block;
            }
                .copyright > .texts {
                    display: inline-block;
                    float: left;
                }
                    .copyright > .texts.borders {
                        margin-left: 20px;
                        margin-right: 20px;
                        position: relative;
                    }
                    .copyright > .texts.borders::before {
                        display: inline-block;
                        content: '';
                        width: 1px;
                        height: 10px;
                        background-color: #fff;
                        position: absolute;
                        left: -9px;
                        top: 6px;
                    }
                    .copyright > .texts.borders::after {
                        display: inline-block;
                        content: '';
                        width: 1px;
                        height: 10px;
                        background-color: #fff;
                        position: absolute;
                        top: 6px;
                        right: -9px;
                    }
            .footer-texts > p {

            }
            .footer-texts a {
                color: #fff;
            }
            .back-to-top {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 20px;
                position: absolute;
                top:-70px;
                right: -12px;
                background-color: red;
                color: #ffffff;
                border-radius: 50%;
                text-decoration: none;
            }
            @media (max-width: 900px) {
                .row {
                    width: 600px;
                    margin-left: calc((100% - 600px) / 2);
                    margin-right: calc((100% - 600px) / 2);
                }
                    .left-column {
                        width: 100%;
                        margin-bottom: 60px;
                    }
                    .right-column {
                        width: 100%;
                        float: left;
                    }
            }
            
            @media (max-width: 700px) {
                .hero-row {
                    width: 400px;
                    margin-left: calc((100% - 400px) / 2);
                    margin-right: calc((100% - 400px) / 2);
                }
                .row {
                    width: 400px;
                    margin-left: calc((100% - 400px) / 2);
                    margin-right: calc((100% - 400px) / 2);
                }
                .footer-texts {
                    width: 400px;
                    margin-left: calc((100% - 400px) / 2);
                    margin-right: calc((100% - 400px) / 2);
                }
                .copyright > .texts {
                    width: 100%;
                }
                .copyright > .texts.borders {
                    margin: 0;
                }
                    .copyright > .texts.borders::before,
                    .copyright > .texts.borders::after {
                        display: none;
                    }
            }
            
            @media (max-width: 500px) {
                .container {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .hero-row {
                    width: 100%;
                    margin-left: 0;
                }
                .row {
                    width: 100%;
                    margin-left: 0;
                }
                .footer-texts {
                    width: 100%;
                    margin-left: 0;
                }
            }
@media(min-width: 1101px ) {
    .right-column > .form > input {
        width: 47%;
             }
    }
    .right-column >.form > input:first-child {
             margin-right: 6%;
            }